*~
*#
Dockerfile
build.log
.env

R/normalization.asap.3.R.bkp
python/de.v8.*.py

# Ignore temporary notebooks
.ipynb_checkpoints

# Ignore all compiled Java classes except ASAP.jar
java/bin/*
!java/bin/ASAP.jar
